.services-page,
.services-page * {
  box-sizing: border-box;
}
.services-page {
  background: #ffffff;
  height: 5450px;
  position: relative;
  overflow: hidden;
}
.image-43 {
  width: 1440px;
  height: 382px;
  position: absolute;
  left: calc(50% - 720px);
  top: calc(50% - 2599px);
  object-fit: cover;
}
.evaap-provides-in-depth-background-screenings-that-cover-more-than-just-criminal-record-checks-embrace-the-next-generation-of-pre-employment-screening-and-begin-your-background-verification-now-main-mention-was-the-all-titles-should-start-from-the-same-line-from-the-starting-point-onwards {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 662px);
  top: calc(50% - 2540px);
  width: 971px;
}
.get-start-now {
  border-radius: 20px;
  width: 209px;
  height: 46px;
  position: absolute;
  left: calc(50% - 542px);
  top: 336px;
}
.rectangle-117 {
  background: #feffff;
  border-radius: 20px;
  width: 85%;
  height: 100%;
  position: absolute;
  right: 10.45%;
  left: 4.55%;
  bottom: 0%;
  top: 0%;
}
.get-start-now2 {
  color: #000000;
  text-align: left;
  font-family: "AbrilFatface-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 81.5px);
  top: calc(50% - 17px);
  width: 164.49px;
  height: 34.09px;
}
.pre-employment-background-check-solutions {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 196px);
  top: calc(50% - 2152px);
  width: 539px;
  height: 31px;
}
.financial-sanctions-through-comprehensive-background-checks-for-employment {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 97px);
  top: calc(50% - 1956px);
  width: 735px;
  height: 37px;
}
.why-is-it-important-to-conduct-a-pre-employment-background-check {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 412px);
  top: calc(50% - 1680px);
  width: 800px;
  height: 45px;
}
.image-5 {
  width: 464px;
  height: 241px;
  position: absolute;
  left: calc(50% - -181px);
  top: 1095px;
  object-fit: cover;
}
.background-checks-you-can-trust {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 167px);
  top: calc(50% - 1334px);
}
.background-screening-1536-x-1024-panorama-77801-b-07-b-8-cc-0-b-7-f-5-d-96-cbed-7-f-859418-rp-26-wkumh-8-xn {
  width: 359px;
  height: 251px;
  position: absolute;
  left: calc(50% - 609px);
  top: calc(50% - 1267px);
  object-fit: cover;
}
.group-17 {
  position: absolute;
  inset: 0;
}
.thorough-pre-employment-background-checks-assist-in-confirming-or-verifying-an-applicant-s-immigration-status-as-well-as-their-professional-and-educational-history-as-a-top-provider-of-background-screening-services-evaap-boasts-one-of-the-highest-verification-success-rates-in-the-industry {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 180px);
  top: calc(50% - 1221px);
  width: 798px;
  height: 148px;
}
.background-verifications-checks-include {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 282px);
  top: calc(50% - 931px);
}
.professional-qualification-it-mainly-confirm-and-helps-the-professional-qualification-of-the-candidate-from-the-represented-educational-institution {
  color: #000000;
  text-align: left;
  position: absolute;
  left: calc(50% - 582px);
  top: calc(50% - 627px);
  width: 1164px;
  height: 71px;
}
.professional-qualification-it-mainly-confirm-and-helps-the-professional-qualification-of-the-candidate-from-the-represented-educational-institution-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.professional-qualification-it-mainly-confirm-and-helps-the-professional-qualification-of-the-candidate-from-the-represented-educational-institution-span2 {
  color: #000000;
  font-family: "AbrilFatface-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.professional-qualification-it-mainly-confirm-and-helps-the-professional-qualification-of-the-candidate-from-the-represented-educational-institution-span3 {
  color: #000000;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.personal-check-a-written-order-that-instructs-a-bank-to-pay-money-from-the-funds-deposited-in-an-individual-s-checking-account {
  color: #000000;
  text-align: left;
  position: absolute;
  left: calc(50% - 582px);
  top: calc(50% - 541px);
  width: 1191px;
  height: 59px;
}
.personal-check-a-written-order-that-instructs-a-bank-to-pay-money-from-the-funds-deposited-in-an-individual-s-checking-account-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.personal-check-a-written-order-that-instructs-a-bank-to-pay-money-from-the-funds-deposited-in-an-individual-s-checking-account-span2 {
  color: #000000;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.rectangle-104 {
  background: #fffbee;
  width: 1440px;
  height: 577px;
  position: absolute;
  left: calc(50% - 720px);
  top: calc(50% - 482px);
}
.solutions-to-exceed-your-standards {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 279px);
  top: 2287px;
  width: 558px;
  height: 60px;
}
.from-criminal-records-checks-to-continuous-monitoring-we-ve-got-you-covered {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 376px);
  top: 2347px;
  width: 752px;
  height: 25px;
}
.image {
  width: 251px;
  height: 240px;
  position: absolute;
  left: calc(50% - 579px);
  top: calc(50% - 255px);
  object-fit: cover;
}
.image-8 {
  width: 273px;
  height: 212px;
  position: absolute;
  left: calc(50% - 148px);
  top: calc(50% - 255px);
  object-fit: cover;
}
.image-10 {
  width: 251px;
  height: 192px;
  position: absolute;
  left: calc(50% - -327px);
  top: calc(50% - 255px);
  object-fit: cover;
}
.carrier-check {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 75px);
  top: calc(50% - -44px);
  width: 149px;
  height: 23px;
}
.education-verification {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -327px);
  top: calc(50% - -40px);
  width: 238px;
  height: 21px;
}
.personal-check {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 539px);
  top: calc(50% - -40px);
}
.image-11 {
  width: 428px;
  height: 337px;
  position: absolute;
  left: calc(50% - 638px);
  top: calc(50% - -161px);
  object-fit: cover;
}
.introducing-next-gen-right-id {
  color: #00c417;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 171px);
  top: calc(50% - -139px);
}
.the-right-id-at-the-right-time {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 89px);
  top: calc(50% - -183px);
}
.right-id-combats-identity-fraud-with-a-multi-layered-dynamic-approach-that-includes-liveness-detection-document-review-and-knowledge-based-methods-to-identify-counterfeits-and-detect-deep-fakes-providing-strong-protection-against-identity-fraud {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 115px);
  top: calc(50% - -254px);
  width: 713px;
  height: 122px;
}
.learn-more {
  width: 128px;
  height: 38px;
  position: absolute;
  left: calc(50% - 115px);
  top: 3123px;
}
.help-button {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}
.rectangle-47 {
  background: #000000;
  border-radius: 15px;
  width: 94.74%;
  height: 90.91%;
  position: absolute;
  right: 5.26%;
  left: 0%;
  bottom: 9.09%;
  top: 0%;
}
.learn-more2 {
  color: #ffffff;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 17.19%;
  left: 15.62%;
  width: 67.19%;
  bottom: 28.95%;
  top: 13.16%;
  height: 57.89%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.image-12 {
  width: 464px;
  height: 300px;
  position: absolute;
  left: calc(50% - -134px);
  top: calc(50% - -542px);
  object-fit: cover;
}
.evvap-bundles {
  color: #00cd36;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 628px);
  top: 3284px;
  width: 196px;
  height: 33px;
}
.learn-more3 {
  width: 128px;
  height: 38px;
  position: absolute;
  left: calc(50% - 123px);
  top: calc(50% - -797px);
}
.frame-114 {
  background: #003459;
  width: 1440px;
  height: 541px;
  position: absolute;
  left: calc(50% - 720px);
  top: calc(50% - -899px);
  overflow: hidden;
}
.frame-142 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 71px;
  top: 5px;
}
.evvap-customer-care-is-committed-to-providing-seamless-and-expert-support-as-part-of-our-ongoing-improvements-we-re-introducing-a-new-support-model-to-enhance-how-we-serve-and-connect-with-customers {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 1225px;
}
.website {
  width: 141px;
  height: 35px;
  position: absolute;
  left: 647px;
  top: 464px;
}
.rectangle-112 {
  background: #003459;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.www-evvap-com {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 58.5px);
  top: calc(50% - 8.5px);
}
.icon {
  width: 181px;
  height: 142px;
  position: absolute;
  left: 127px;
  top: 193px;
}
.image-21 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.click {
  width: 147px;
  height: 46px;
  position: absolute;
  left: 151px;
  top: 393px;
}
.rectangle-114 {
  background: #003459;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.click2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 34.5px);
  top: calc(50% - 20px);
}
.chat {
  border-radius: 20px;
  width: 147px;
  height: 46px;
  position: absolute;
  left: calc(50% - 77px);
  top: 393px;
}
.rectangle-115 {
  background: #003459;
  border-radius: 20px;
  width: 147px;
  height: 100%;
  position: absolute;
  left: calc(50% - 73.5px);
  bottom: 0%;
  top: 0%;
}
.chat2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  right: 29.93%;
  left: 24.49%;
  width: 45.58%;
  bottom: 15.22%;
  top: 0%;
  height: 84.78%;
}
.image-15 {
  width: 154px;
  height: 136px;
  position: absolute;
  left: calc(50% - 77px);
  top: 199px;
}
.image-152 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.icons-1 {
  width: 133px;
  height: 136px;
  position: absolute;
  left: 1128px;
  top: 199px;
}
.image-16 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.call {
  border-radius: 20px;
  width: 105px;
  height: 35px;
  position: absolute;
  left: 1142px;
  top: 389px;
}
.rectangle-116 {
  background: #003459;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.call2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 25.5px);
  top: calc(50% - 18.5px);
}
.why-evvap {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 107px);
  top: calc(50% - -1496px);
  width: 243px;
  height: 49px;
}
.leading-hr-teams-rely-on-evvap-for-dependable-screening-verifications-safety-and-compliance-throughout-the-applicant-journey-and-beyond {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 449px);
  top: calc(50% - -1566px);
  width: 908px;
  height: 52px;
}
.frame-125 {
  background: #fffbee;
  border-radius: 30px;
  width: 340px;
  height: 380px;
  position: absolute;
  left: calc(50% - 610px);
  top: calc(50% - -1683px);
  overflow: hidden;
}
.image-18 {
  width: 79px;
  height: 61px;
  position: absolute;
  left: calc(50% - 39px);
  top: 29px;
  object-fit: cover;
}
.hire-smarter {
  color: #00cd36;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 70px);
  top: 100px;
}
.frame-128 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 160px;
  position: absolute;
  left: calc(50% - 157px);
  top: 139px;
}
.actionable-insights-boost-confidence-in-your-hiring-process-by-using-technology-to-effectively-review-and-assess-applicant-data {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 225px;
}
.frame-126 {
  background: #fffbee;
  border-radius: 30px;
  width: 340px;
  height: 380px;
  position: absolute;
  left: calc(50% - 165px);
  top: calc(50% - -1686px);
  overflow: hidden;
}
.image-19 {
  width: 80px;
  height: 73px;
  position: absolute;
  left: calc(50% - 40px);
  top: 23px;
  object-fit: cover;
}
.frame-129 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 18px;
  top: 145px;
}
.in-the-pursuit-of-top-talent-every-moment-matters-use-automation-to-quickly-return-screening-results-and-streamline-onboarding-with-faster-form-i-9-compliance-tax-credits-background-checks-and-drug-testing {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 233px;
}
.frame-130 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(50% - 102px);
  top: 96px;
}
.on-board-faster {
  color: #00cd1f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.frame-127 {
  background: #fffbee;
  border-radius: 30px;
  width: 340px;
  height: 387px;
  position: absolute;
  left: calc(50% - -285px);
  top: calc(50% - -1683px);
  overflow: hidden;
}
.frame-131 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 316px;
  height: 139px;
  position: absolute;
  left: 0px;
  top: 161px;
}
.every-applicant-is-a-valuable-individual-create-a-positive-experience-with-a-mobile-applicant-focused-journey {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 241px;
  height: 117px;
}
.image-20 {
  width: 71px;
  height: 69px;
  position: absolute;
  left: calc(50% - 32px);
  top: 28px;
  object-fit: cover;
}
.frame-132 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(50% - 95px);
  top: 105px;
}
.applicants-first {
  color: #00c417;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.learn-more4 {
  width: 128px;
  height: 38px;
  position: absolute;
  left: calc(50% - 64px);
  top: calc(50% - -2127px);
}
.rectangle-118 {
  width: 1440px;
  height: 405px;
  position: absolute;
  left: calc(50% - 720px);
  top: calc(50% - -2191px);
  overflow: visible;
}
.image-22 {
  width: 365px;
  height: 229px;
  position: absolute;
  left: calc(50% - 720px);
  top: calc(50% - -2165px);
  object-fit: cover;
}
.image-23 {
  width: 336px;
  height: 270px;
  position: absolute;
  left: calc(50% - 410px);
  top: calc(50% - -2280px);
  object-fit: cover;
}
.people-are-at-the-heart-of-everything-we-do {
  color: #000000;
  text-align: left;
  font-family: "AbrilFatface-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -7px);
  top: calc(50% - -2282px);
}
.evvap-is-committed-to-environmental-social-and-corporate-governance-initiatives {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -15px);
  top: calc(50% - -2353px);
}
.fotter {
  background: #e2e2e4;
  width: 1440px;
  height: 129px;
  position: absolute;
  left: calc(50% - 720px);
  top: calc(50% - -2596px);
  overflow: hidden;
}
.evaap-logo-2-1-ai-brush-removebg-8-nqsg-4-zr-22 {
  width: 181px;
  height: 126px;
  position: absolute;
  left: 11px;
  top: 2px;
  object-fit: cover;
}
.no-179-down-street-new-york-xxxxxxxxxxx-usa-600096 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -31px);
  top: 34px;
  width: 246.37px;
  height: 128px;
}
.home {
  width: 42px;
  height: 19px;
  position: absolute;
  left: calc(50% - 454px);
  top: 40px;
}
.home2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: -9.52%;
  left: 0%;
  width: 109.52%;
  bottom: -5.26%;
  top: -10.53%;
  height: 115.79%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact-us {
  width: 74px;
  height: 19px;
  position: absolute;
  left: calc(50% - 454px);
  top: 60px;
}
.contact-us2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: -9.46%;
  left: 0%;
  width: 109.46%;
  bottom: -5.26%;
  top: -10.53%;
  height: 115.79%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.about-us {
  width: 63px;
  height: 19px;
  position: absolute;
  left: calc(50% - 453px);
  top: 81px;
}
.about-us2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: -9.52%;
  left: 0%;
  width: 109.52%;
  bottom: -5.26%;
  top: -10.53%;
  height: 115.79%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.our-services {
  width: 85px;
  height: 19px;
  position: absolute;
  left: calc(50% - 454px);
  top: 102px;
}
.our-services2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: -10.59%;
  left: 0%;
  width: 110.59%;
  bottom: -5.26%;
  top: -10.53%;
  height: 115.79%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.fa-qs {
  width: 63px;
  height: 22px;
  position: absolute;
  left: calc(50% - 184px);
  top: 51px;
}
.fa-qs2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.carrer {
  width: 62px;
  height: 17px;
  position: absolute;
  left: calc(50% - 184px);
  top: 78px;
}
.carrer2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.announces {
  width: 86px;
  height: 18px;
  position: absolute;
  left: calc(50% - 185px);
  top: 98px;
}
.announces2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.instagram-circle {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 1111px;
  top: 46px;
}
.instagram-circle2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.linked-in-circled {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 1195px;
  top: 46px;
}
.linked-in-circled2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.quick-links {
  width: 113px;
  height: 22px;
  position: absolute;
  left: 265px;
  top: 5px;
}
.quick-links2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.tools {
  width: 50px;
  height: 27px;
  position: absolute;
  left: 535px;
  top: 5px;
}
.tools2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: -10%;
  left: 0%;
  width: 110%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.contact-us3 {
  width: 111px;
  height: 27px;
  position: absolute;
  left: 751px;
  top: 5px;
}
.contact-us4 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.follow-us {
  width: 181px;
  height: 44px;
  position: absolute;
  left: 1111px;
  top: 0px;
}
.follow-us2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.twitter {
  width: 60px;
  height: 60px;
  position: absolute;
  left: calc(50% - -554px);
  top: calc(50% - -2644px);
}
.twitter2 {
  border-radius: 100px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.learn-more5 {
  width: 128px;
  height: 38px;
  position: absolute;
  left: calc(50% - -466px);
  top: calc(50% - -2415px);
}
.header {
  background: #e2e2e4;
  width: 1440px;
  height: 126px;
  position: absolute;
  left: calc(50% - 720px);
  top: calc(50% - 2725px);
  overflow: hidden;
}
.employment-verification-and-academic-proofing {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 315px);
  top: 19px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.25);
}
.evaap-logo-2-1-ai-brush-removebg-8-nqsg-4-zr-222 {
  width: 209px;
  height: 200px;
  position: absolute;
  left: 7px;
  top: -29px;
  object-fit: cover;
}
.home3 {
  width: 42px;
  height: 19px;
  position: absolute;
  left: calc(50% - 257px);
  top: 83px;
}
.contact-us5 {
  width: 74px;
  height: 19px;
  position: absolute;
  left: calc(50% - 153px);
  top: 83px;
}
.about-us3 {
  width: 63px;
  height: 19px;
  position: absolute;
  left: calc(50% - -4px);
  top: 83px;
}
.our-services3 {
  width: 85px;
  height: 19px;
  position: absolute;
  left: calc(50% - -150px);
  top: 83px;
}

#lang {
  background: #ffffff;
  border-style: solid;
  border-color: #94949465;
  border-radius: 7px;
  border-width: 1px;
  width: 110px;
  height: 30px;
  position: absolute;
  left: 81%;
  top: 17px;

  padding-left: 9px;
}
.help {
  background: #fcfcfc;
  border-style: solid;
  border-color: #93939379;
  border-width: 1px;
  width: 110px;
  height: 30px;
  position: absolute;
  left: 1291px;
  top: 17px;
  border-radius: 7px;
}
.help2 {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  background: #fdfdfd;
  border-style: solid;
  border-color: #9393937e;
  border-width: 1px;
  width: 110px;
  height: 40px;
  position: absolute;
  left: 1293px;
  top: 71px;
  border-radius: 7px;

}
.login2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: -28.18%;
  left: 28.18%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.evvap-simplifies-the-hiring-and-onboarding-process-by-offering-bundled-solutions-that-help-you-hire-efficiently-and-onboard-quickly-their-integrated-applicant-focused-technology-improves-time-to-hire-and-enhances-your-employer-brand {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 520px);
  top: calc(50% - -667px);
}
.image-4 {
  width: 437px;
  height: 349.03px;
  position: absolute;
  left: calc(50% - 630.04px);
  top: calc(50% - 2108px);
  transform-origin: 0 0;
  transform: rotate(0.157deg) scale(1, 1);
  object-fit: cover;
}
.background-checks-enable-you-to-make-informed-strategic-hiring-choices-that-can-ultimately-save-your-business-both-time-and-money-with-a-wide-range-of-services-offered-accessing-the-necessary-information-for-confident-onboarding-decisions-is-straightforward-in-short-background-checks-play-a-crucial-role-in-ensuring-that-new-hires-align-well-with-your-company-culture {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 543px);
  top: calc(50% - 1603px);
  width: 630px;
}
.employment-hr-department-here-verification-done-for-confirmation-of-employment-details-provided-by-the-candidate-or-client-with-the-hr-department {
  color: #000000;
  text-align: left;
  position: absolute;
  left: calc(50% - 579px);
  top: calc(50% - 860px);
}
.employment-hr-department-here-verification-done-for-confirmation-of-employment-details-provided-by-the-candidate-or-client-with-the-hr-department-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.employment-hr-department-here-verification-done-for-confirmation-of-employment-details-provided-by-the-candidate-or-client-with-the-hr-department-span2 {
  color: #000000;
  font-family: "AbrilFatface-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.employment-hr-department-here-verification-done-for-confirmation-of-employment-details-provided-by-the-candidate-or-client-with-the-hr-department-span3 {
  color: #000000;
  font-family: "AbrilFatface-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.employment-hr-department-here-verification-done-for-confirmation-of-employment-details-provided-by-the-candidate-or-client-with-the-hr-department-span4 {
  color: #000000;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.education-verification-check-this-was-the-main-advantage-cross-verifies-all-the-relevant-education-date-presented-by-the-candidate {
  color: #000000;
  text-align: left;
  position: absolute;
  left: calc(50% - 578px);
  top: calc(50% - 772px);
}
.education-verification-check-this-was-the-main-advantage-cross-verifies-all-the-relevant-education-date-presented-by-the-candidate-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.education-verification-check-this-was-the-main-advantage-cross-verifies-all-the-relevant-education-date-presented-by-the-candidate-span2 {
  color: #000000;
  font-family: "AbrilFatface-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.education-verification-check-this-was-the-main-advantage-cross-verifies-all-the-relevant-education-date-presented-by-the-candidate-span3 {
  color: #000000;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.gap-in-employment-history-checking-of-the-background-verification-form-to-identify-if-there-is-any-gap-in-between-employment-or-in-education {
  color: #000000;
  text-align: left;
  position: absolute;
  left: calc(50% - 582px);
  top: calc(50% - 708px);
}
.gap-in-employment-history-checking-of-the-background-verification-form-to-identify-if-there-is-any-gap-in-between-employment-or-in-education-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.gap-in-employment-history-checking-of-the-background-verification-form-to-identify-if-there-is-any-gap-in-between-employment-or-in-education-span2 {
  color: #000000;
  font-family: "AbrilFatface-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.gap-in-employment-history-checking-of-the-background-verification-form-to-identify-if-there-is-any-gap-in-between-employment-or-in-education-span3 {
  color: #000000;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.in-addition-as-a-premier-background-screening-company-we-have-an-unmatched-global-reach-for-businesses-that-require-global-searches {
  color: #000000;
  text-align: left;
  font-family: "AbhayaLibreMedium-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 97px);
  top: calc(50% - 1817px);
}
.our-national-criminal-file-is-a-database-search-of-millions-of-criminal-records-with-6000-to-8000-new-records-added-daily {
  color: #000000;
  text-align: left;
  font-family: "AbhayaLibreMedium-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 98px);
  top: calc(50% - 1887px);
  width: 572px;
}
.help-you-efficiently-identify-criminal-records-sex-offenses-and-professional-or {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 97px);
  top: calc(50% - 2027px);
  width: 585px;
  height: 46px;
}
.as-a-leading-provider-of-background-screening-services-we-deliver-solutions-that {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 97px);
  top: calc(50% - 2081px);
}
.refine-your-hiring-pathway {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  position: absolute;
  left: 131px;
  top: 3339px;
  width: 334px;
  height: 30px;
}
